<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.logcat.hencoderplusexercise">

  <application
      android:allowBackup="true"
      android:icon="@mipmap/ic_launcher"
      android:label="@string/app_name"
      android:roundIcon="@mipmap/ic_launcher_round"
      android:supportsRtl="true"
      android:theme="@style/Theme.HenCoderPlusExercise">
    <activity android:name=".MainActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />

        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
    <activity android:name=".activity.DashBoardActivity"/>
    <activity android:name=".activity.PieChartViewActivity"/>
    <activity android:name=".activity.AvatarViewActivity"/>
    <activity android:name=".activity.SportViewActivity"/>
    <activity android:name=".activity.MultilineTextActivity"/>
    <activity android:name=".activity.CameraViewActivity"/>
    <activity android:name=".activity.CircleViewActivity"/>
    <activity android:name=".activity.PointFViewActivity"/>
    <activity android:name=".activity.AnimCameraViewActivity"/>
    <activity android:name=".activity.ProvinceViewActivity"/>
  </application>

</manifest>